@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @using (Html.BeginForm("ImportFitbitData","Upload",FormMethod.Post,new{enctype= "multipart/form-data" }))
    {
        <input type="file" name="file" id="file" placeholder="File upload"/>
        <button type="submit" >Upload</button>
    }
</div>